*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #F5F5F5;
}

.container
{
    margin: 60.36px 250px 0px 250.11px;
    
}

.signin{
    font-size: 12px;
    color: rgb(178, 176, 176);
    margin-bottom: -25px;
}

.form-container
{
    background: #F9F9F9;
    padding-bottom: 50px;
    border-radius: 20px;
}
.logo
{
    margin-top: 30px;
    margin-left: 30px;
    height: 20px;
}

.signin-form
{
    margin-top: 60px;
    margin-left: 256px;
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding-bottom: 50px;
}

.form-logo
{
    margin-top: 20px;
    text-align: center;
    height: 35px;
}

.form-heading
{
    text-align: center;
    margin-top: 30px;
}

.form-heading p{
    font-size: 20px;
    color: #343434;
    font-weight: 600;
    color: #343434;
}

form
{
    margin-left: 50px;
}

.form-text
{
    color: #545454;
    font-size: 14px;
    margin-top: 17px; 
    margin-bottom: 5px; 
}


#togglePassword
{
    margin-left: -30px; 
    cursor: pointer;
}

.far
{
    color : #7E7E7E;
}
.signin-form input
{
    border: none;
    outline: none;
    width: 400px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 6px;
    padding: 12px;
}

.form-btn{
    margin-top: 40px;   
}

.form-btn button
{
    background-color: #3766E8;
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    width: 400px;
    height: 37px;
    cursor: pointer;
}

.create-account
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.create-account-text
{
    margin-right: 8px;
    color: #545454;
}

.create-account-link
{
    color: #3766E8;
}

.terms-policy
{
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    color:#545454;
    cursor: pointer;
}
